
body
{
	margin: 0 auto;
	padding: 0;
	width: auto;
	font: 75%/120% Arial, Helvetica, sans-serif;
}

#floor
{
  position: absolute;
  float: left;
	width: 128px;
	z-index: 20;
}

#inputFloorField
{
    position: absolute;
    top:384px;
}

#map
{
  position: absolute;
  left: 256px;
	top:0px;
	pointer-events: none;
}

#cursor
{
	position: absolute;
	z-index: 1000;
}
#camerasMap
{
	position: absolute;
	left: 256px;
	top:0px;
	z-index: 120;
	pointer-events: none;
}
.mapPart
{
	width: 720px;
	height: 720px;
}
#areasNames
{
	position: absolute;
	left: 256px;
	top:0px;
	z-index: 140;
	pointer-events: none;
}
#svgAreas
{
	position: absolute;
	z-index:100;
	left: 256px;
  top:0px;
	outline: 1px solid orange;
	pointer-events: none;
}
/* Кнопка размещения камеры */
#placeCameraButton
{
  position: absolute;
	left: 128px;
	top: 0px;
	outline: 2px solid gray; /* Параметры рамки */
	z-index: 150;
}

/* Кнопка разметки комнаты */
#placeAreaButton
{
  position: absolute;
	left: 128px;
	top: 128px;
	outline: 2px solid gray; /* Параметры рамки */
	z-index: 150;
}

.cameraElement
{
	pointer-events: auto;
}

/* Ползунок */

.areaElement
{
	position: absolute;
	z-index: 140;
	pointer-events: visible;
}

.ui-slider 
{
	position: relative;
	left: 1px;
	top:3px;
	z-index: 170;
}
.ui-slider .ui-slider-handle 
{
	position: absolute;
  z-index: 180;
	width: 20px;   /* Задаем нужную ширину */
	height: 20px;  /* и высоту */
	background: orange no-repeat; /* Изображение ползунка */
	margin: -2px;
	cursor: pointer
}
.ui-slider .ui-slider-range 
{
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* сама полоса по которой бегает ползунок */
.ui-slider-vertical
{
	 width: 3px; /* задаем ширину*/
	 top:3px;
   height: 384px;
}
/* оформление полосы по которой бегает ползунок */
.ui-widget-content 
{ 
	border: 1px solid #D4D4D4;
	background: #fff;
}
/* скругление для полосы слайдера */
.ui-corner-all 
{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Анимация наведения на камеру */
.mouseEnter
{
	animation: bright 1s linear;
}
@keyframes bright
{
	0%
	{
		filter: brightness(1)
	}
	100%
	{
		filter: brightness(8)
	}
}

/* Анимация наведения на разметку */
.mouseEnterArea
{
	animation: brightArea 1s linear;
}
@keyframes brightArea
{
	0%
	{
		color: orange
	}
	100%
	{
		color: orangered
	}
}